{{!-- main handlebar in layout will be the permanent main layout for the page and can be reused for the different views of our app --}}
<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Magnet</title>
    <link rel="stylesheet" href="/output.css">{{!-- with this href setup, we can use tailwind in our handlebars --}}
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head> 
<body class="bg-gray-200">
    
    {{!--Inserts whatever view we want in here. Acts as placeholder. --}}
    <div class="bg-blue-600">
        <nav>
            <h1 class="bg-blue-600">MONEY MAGNET</h1>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a>
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
    </nav>
    </div>
    {{{body}}}   

    <footer>Money Magnet was created by: Allison, Davis, Jacob and Salvador</footer>
</body>
</html>