{{!-- main handlebar in layout will be the permanent main layout for the page and can be reused for the different views of our app --}}
<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Magnet</title>
    <link rel="stylesheet" href="/output.css">{{!-- with this href setup, we can use tailwind in our handlebars --}}
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head> 
<body class="bg-gray-200">
    <h1>MONEY MAGNET</h1>
    {{{body}}} {{!--Inserts whatever view we want in here. Acts as placeholder. --}}

</body>
</html>