{{! main handlebar in layout will be the permanent main layout for the page and can be reused for the different views of our app }}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Money Magnet</title>
    <link rel="stylesheet" href="/output.css"
    />{{! with this href setup, we can use tailwind in our handlebars }}
    <link rel="stylesheet" href="homepage.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    {{> header}} {{!-- Using partials for the header and footer.--}}

    {{{body}}} {{!-- Renders the homepage by default--}}

   {{> footer}}
   
   
  </body>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{> chart}}
  {{/if}}
</html>