
<div class="mt-8 bg-white p-4 shadow rounded-lg">
    <div class="bg-white p-4 rounded-md mt-4">
        <h2 class="text-gray-500 text-lg font-semibold pb-4">Bills</h2>
        <div class="my-1"></div>
        <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div>
        <form class="flex gap-4" action="" id="form">
            <div>
                <input type="text"
                    placeholder="Bill name"
                    id="name"
                    name="bill-name"
                    class="border rounded py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-500"/>
            </div>
            <div>
                
                    <input type="text"
                    placeholder="Due date"
                    id="date"
                    class="border rounded py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-500"/>
            </div>
            <div>
                    
                    <input
                    placeholder="Amount"
                    id="amount"
                    class="border rounded py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-500"/>
            </div>
            <div>
                <button type="submit" class="bg-cyan-500 hover:bg-cyan-600 text-white font-semibold py-2 px-4 rounded">
                    Add
                </button>
            </div>
            
        </form>

        <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div>
        <table class="w-full table-auto text-sm">
            <thead>
                <tr class="text-sm leading-normal">
                    <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Bill Name</th>
                    <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Due Date</th>
                    <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right">Amount</th>
                </tr>
            </thead>
            <tbody>
                
                {{#each bills.bills}}
                <tr class="hover:bg-grey-lighter">
                    <td class="py-2 px-4 border-b border-grey-light"><a href="/bill/{{id}}">{{bill_name}}</a></td>
                    <td class="py-2 px-4 border-b border-grey-light">{{format_date due_date}}</td>
                    <td class="py-2 px-4 border-b border-grey-light text-right">{{format_amount amount}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
                    
        <div class="text-right mt-4"></div>
    </div>        
</div>                    
                
<script src="/js/bills.js"></script>