<div class="min-h-screen mt-4 bg-white p-4 shadow rounded-lg">

<div class="md:hidden flex items-center ">
      <button id="menuBtn">
        <i class="fas fa-bars text-gray-500 text-lg"></i>
        <p class="text-gray-500 text-sm">Menu</p>
      </button>
    </div>
  <div class="bg-white p-4 rounded-md mt-4">

    
    <div
      class="p-2 bg-white w-full md:w-60 flex flex-col md:flex md:hidden"
      id="sideNav"
    >
      <nav>
        <a
          class="block text-gray-500 py-2 px-4 mt-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white"
          href="/"
        >
          <i class="fas fa-home mr-2"></i>Home
        </a>
        <a
          class="block text-gray-500 py-2 px-4 mt-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white"
          href="/bills"
        >
          <i class="fas fa-file-alt mr-2"></i>Bills
        </a>

        <a
          class="block text-gray-500 py-2 px-4 mt-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white"
          href="/expenses"
        >
          <i class="fa-solid fa-wallet mr-2"></i>Expenses
        </a>
      </nav>

      <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mt-2 mb-2"></div>
    </div>




  <div class="bg-white p-4 rounded-md mt-4">
    <h2 class="text-gray-500 text-lg font-semibold pb-4">Bills</h2>
    <div class="my-1"></div>
    <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div>

    <table class="w-full table-auto text-sm">
      <thead>
        <tr class="text-sm leading-normal">
          <th
            class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light"
          >Bill Name</th>
          <th
            class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light"
          >Due Date</th>
          <th
            class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right"
          >Amount</th>
        </tr>
      </thead>
      <tbody>
        <form class="flex gap-4" id="bill-form">
          <tr class="hover:bg-grey-lighter">
            <td class="py-2 px-4 border-b border-grey-light">
              <div>
                <input
                  type="text"
                  placeholder="Name"
                  id="bill-name"
                  name="bill-name"
                  class="border rounded py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-500"
                />
              </div>
            </td>
            <td class="py-2 px-4 border-b">
              <div>
                <input
                  type="date"
                  placeholder="Date"
                  id="bill-date"
                  class="border rounded py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-500"
                />
              </div>
            </td>
            <td class="py-2 px-4 border-b text-right">
              <div>
                <input
                  placeholder="Amount"
                  id="bill-amount"
                  class="border rounded py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-500"
                />
              </div>
            </td>
            <td class="justify-center" style="text-align: center;">
              <button id="add" type="submit"
                class="bg-cyan-500 hover:bg-cyan-600 text-white font-semibold py-2 px-4 rounded"
              >
                Add
              </button>
            </td>
          </tr>
        </form>
        {{#each bills.bills}}
          <tr class="hover:bg-grey-lighter">
            <td class="py-2 px-4 border-b">{{bill_name}}</td>
            <td class="py-2 px-4 border-b">{{format_date due_date}}</td>
            <td class="py-2 px-4 border-b text-right">{{format_amount
                amount
              }}</td>
            <td class="justify-center" style="text-align: center;">
              <button
                class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded"
              ><a href="/bill/{{id}}">
                  edit</a>
              </button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="text-right mt-4"></div>
  </div>
</div>


<script>
  const menuBtn = document.getElementById('menuBtn');
const sideNav = document.getElementById('sideNav');

menuBtn.addEventListener('click', () => {
    sideNav.classList.toggle('hidden');
});
</script>
<script src="/js/bills.js"></script>