<main>
  <section>
    <h2 class="title">Be attracted to saving money</h2>
    
      
    </div>
  </section>
  <section>
<div class="view">
        <p>Track your expenses with Money Magnet</p>
      </div>
      <div class="base">
        <p> Login to start now</p>
      </div>
      
  </section>
</main>