<main class="homepage-background">
  <section>
    <h2 class="title">Be attracted to saving money</h2>
    
      
    </div>
  </section>
  <section>
<div class="view">
        <p>View your expenses in a chart</p>
      </div>
  </section>
</main>