<main class="mb-5 flex flex-col items-center">
  <div class="bg-gray-300 w-full">
    <h2>Money Magnet</h2>
  </div>

  <section class="bg-blue-300 w-full">
    <h2>Be attracted to saving money</h2>
    <div>
      <div>
        <p>View your expenses in a chart</p>
      </div>
    </div>
  </section>
</main>