<main class="homepage-background">
  <section>
    <h2 class="title">Attract financial freedom</h2>
  </section>
  <section>
    <div class="view">
      <p>Track your expenses with Money Magnet</p>
    </div>
    <div class="base">
      <a href ='/login'> Login to start now</a>
    </div>  
  </section>
</main>