<div class="m-52"></div>
<div class="flex flex-row justify-center h-11 bg-gray-100 p-3 w-3/5 ml-64 shadow-inner">
    <div class="flex flex-row p-5">
        Name: {{bill.bill_name}}
    </div>
</div>
<div class="flex flex-row justify-center h-11 bg-gray-100 p-3 w-3/5 ml-64">
    <div class ="flex flex-row p-5">
        Date: {{format_date bill.due_date}}
    </div>
</div>
<div class="flex flex-row justify-center h-19 bg-gray-100 p-3 w-3/5 ml-64">
    <div class="flex flex-row p-5">
        Amount: {{format_amount bill.amount}}
    </div>
</div>

<button>
    <i class="fa-solid fa-trash" style="color: #5d83c6;"></i>
  Delete
</button>

