<div class="min-h-screen items-center justify-center place-content-center">
    <div class="md:hidden flex items-center">
      <button id="menuBtn">
        <i class="fas fa-bars text-gray-500 text-lg"></i>
        <p class="text-gray-500 text-sm">Menu</p>
      </button>
    </div>
  <div class="bg-white p-4 rounded-md mt-4">

    
    <div
      class="p-2 bg-white w-full md:w-60 flex flex-col md:flex md:hidden"
      id="sideNav"
    >
      <nav>
        <a
          class="block text-gray-500 py-2 px-4 mt-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white"
          href="/"
        >
          <i class="fas fa-home mr-2"></i>Home
        </a>
        <a
          class="block text-gray-500 py-2 px-4 mt-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white"
          href="/bills"
        >
          <i class="fas fa-file-alt mr-2"></i>Bills
        </a>

        <a
          class="block text-gray-500 py-2 px-4 mt-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white"
          href="/expenses"
        >
          <i class="fa-solid fa-wallet mr-2"></i>Expenses
        </a>
      </nav>

      <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mt-2 mb-2"></div>
    </div>

    <div class="m-20 bg-gray-100">
        <form id="expense-form">
            <div class="flex flex-row justify-center h-19 p-3">        
                <input class="hidden" id="expense-id" value="{{expense.id}}">      
            </div>
            <div class="flex flex-row justify-center h-19 p-3">
                <p><b>Name: </b><input id="expense-name" value="{{expense.expense_name}}"></p>        
            </div>
            <div class="flex flex-row justify-center h-19 p-3">
                <p><b>Date: </b><input id="expense-date" value="{{format_date expense.expense_date}}"></p>
            </div>
            <div class="flex flex-row justify-center h-19 p-3">
                <p><b>Amount: </b><input id="expense-amount" value="{{expense.amount}}"></p>
            </div>
            <div id="expense-err" style="color: red;"></div>
            <div  style="justify-content: space-evenly;" class="flex flex-row h-19 p-3">
                <div class = "flex flex-row p-5">    
                    <button type="submit">
                        <i class="fa-solid fa-floppy-disk" style="color:rgb(39, 250, 39)"></i>
                        Save
                    </button>
                </div>
                <div class="flex flex-row p-5">
                    <button id="expense-delete" type="click">
                        <i class="fa-solid fa-trash" style="color: #f10f0f;"></i>
                    Delete
                    </button>
                </div>
                
            </div>
        </form>
    </div>
</div>



<script>
  const menuBtn = document.getElementById('menuBtn');
const sideNav = document.getElementById('sideNav');

menuBtn.addEventListener('click', () => {
    sideNav.classList.toggle('hidden');
});
</script>


<script src="/js/expenseDelete.js"></script>

<script src="/js/expenseUpdate.js"></script>
