<div class="m-20"></div>
<div class="flex flex-row justify-center h-11 bg-gray-100 p-3 w-3/5 ml-64 shadow-inner">
    <div class="flex flex-row p-5">
        Name: {{expense.expense_name}}
    </div>
</div>
<div class="flex flex-row justify-center h-11 bg-gray-100 p-3 w-3/5 ml-64">
    <div class ="flex flex-row p-5">
        Date: {{format_date expense.expense_date}}
    </div>
</div>
<div class="flex flex-row justify-center h-19 bg-gray-100 p-3 w-3/5 ml-64">
    <div class="flex flex-row p-5">
        Amount: {{format_amount expense.amount}}
    </div>
</div>

<div  class="flex flex-row justify-center h-19 bg-gray-100 p-3 w-3/5 ml-64">
    <div class="flex flex-row p-5">
        <button>
            <i class="fa-solid fa-trash" style="color: #5d83c6;"></i>
        Delete
        </button>
    </div>
</div>