<div class="min-h-screen items-center justify-center place-content-center">
    <div class="m-20 bg-gray-100">
    <div class="flex flex-row justify-center h-19 p-3">        
       <p><b>Name: </b> {{expense.expense_name}}</p>        
    </div>
    <div class="flex flex-row justify-center h-19 p-3">
        <p><b>Date: </b>{{format_date expense.expense_date}}</p>
    </div>
    
    <div class="flex flex-row justify-center h-19 p-3">
        <p><b>Amount: </b>{{format_amount expense.amount}}</p>
    </div>
    <div  class="flex flex-row justify-center h-19 p-3">
        <div class="flex flex-row p-5">
            <button>
                <i class="fa-solid fa-trash" style="color: #5d83c6;"></i>
            Delete
            </button>
        </div>
    </div>
    </div>
</div>
