<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/api/bills">Bills</a></li>
    <li><a href="/api/expenses">Expenses</a></li>
    <li><a href="/api/savings">Savings</a></li>
  </ul>

</nav>

<div>
  {{! Maybe input partials here? }}
</div>