<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/bills">Bills</a></li>
    <li><a href="/expenses">Expenses</a></li>
    <li><a href="/savings">Savings</a></li>
  </ul>

</nav>

<div class="text-bold text-gray-400">
  <h2>Welcome, </h2>
</div>

<div>
  {{! Maybe input partials here? }}
</div>