<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/api/bills"></a>Bills</li>
    <li><a href="/api/expenses"></a>Expenses</li>
    <li><a href="/api/savings"></a>Savings</li>
  </ul>

</nav>

<div>
  {{! Maybe input partials here? }}
</div>