<div class="min-h-screen flex items-center justify-center loginbackground">
  <div class="bg-white p-8 rounded shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-6">Sign Up</h2>
    <form class="signup-form">
      <div class="mb-4">
        <label
          for="username"
          class="block text-gray-600 text-sm font-medium"
        >Enter Email</label>
        <input
          type="text"
          id="email-signup"
          name="username"
          class="border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-4">
        <label
          for="username"
          class="block text-gray-600 text-sm font-medium"
        >Create Username</label>
        <input
          type="text"
          id="name-signup"
          name="username"
          class="border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-4">
        <label
          for="password"
          class="block text-gray-600 text-sm font-medium"
        >Create Password</label>
        <input
          type="password"
          id="password-signup"
          name="password"
          class="border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-6">
        <button
          type="submit"
          class="bg-blue-500 text-white w-full py-2 px-4 rounded hover:bg-blue-600 transition duration-300"
        >Create Account</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>
{{! Maybe input partial here? Will redirect to profile? (Create js files to process forms to redirect to other pages)}}